.blozum_chatbox,
.blozum_chatbox * {
    font-family: "Figtree", Arial, sans-serif;
}

.blozum_button-35,
.blozum_button-35:hover {
    color: #fff;
}

.blozum_button-35:hover,
.blozum_chatbox_button button:hover {
    box-shadow: #0e6fff 0 0 0 3px, transparent 0 0 0 0;
}

@media only screen and (min-width: 1024px) {
    .blozum_chatbox {
        width: 100%;
        height: 88%;
    }

    .blozum_container {
        right: 0%;
        width: 400px;
        height: 88%;
        bottom: 15px;
        transform: translateX(-25px);
    }

    .blozum_chatbox__button {
        right: 35px;
        bottom: 35px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1023px) {
    .blozum_chatbox {
        width: 100%;
        height: 88%;
    }

    .blozum_container {
        right: 0%;
        width: 400px;
        height: 88%;
        bottom: 20px;
        transform: translateX(-5%);
    }

    .blozum_chatbox__button {
        right: 30px;
        bottom: 35px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .blozum_chatbox {
        width: 100%;
        height: 90%;
    }

    .blozum_container {
        right: 0%;
        transform: translateX(-5%);
        width: 400px;
        height: 88%;
        bottom: 35px;
    }

    .blozum_chatbox__button {
        right: 35px;
        bottom: 35px;
    }
}

@media screen and (max-width: 601px) {
    .blozum_chatbox {
        width: 96%;
        height: 89%;
    }

    .blozum_container {
        transform: none;
        left: 0;
        width: 100%;
        height: 89%;
        bottom: 30px;
    }

    .blozum_chatbox__button {
        right: 15px;
        bottom: 35px;
    }
}

.blozum_image_bg {
    width: 90%;
}

:root {
    --text: #2b3044;
    --font-size: 10px;
    --duration: 0.44s;
    --duration-line: 0.84s;
    font-family: "Figtree-Regular", "Avenir Next", sans-serif;
}

.blozum_button-35,
.blozum_button-35:hover {
    background-color: #fff;
}

.blozum_container {
    display: flex;
    z-index: 999;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;

    margin: 0 auto;
}

.blozum_container.visible {
    opacity: 1;
    visibility: visible;
}

.blozum_button-3,
.blozum_button-35 {
    display: inline-flex;
    line-height: 1;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    touch-action: manipulation;
}

*,
.blozum_button-3,
.blozum_button-35 {
    box-sizing: border-box;
    margin: 0;
}

.blozum_button-35 {
    align-items: center;
    border-radius: 15px;
    box-shadow: transparent 0 0 0 6px, rgba(18, 18, 18, 0.4) 0 6px 20px;
    cursor: pointer;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 450;
    justify-content: center;
    outline: 0;
    text-decoration: none;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
}

.blozum_button-3 {
    background: 0 0;
    outline: 0;
    cursor: pointer;
}

.send__button_BLZ {
    border-radius: 50%;
    background-color: #0e6fff;
    color: #0e6fff;
    width: calc(3em + 2px);
    height: calc(3em + 2px);
    display: flex;
    /* Flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    border: none;
    /* Remove the default border */
    text-align: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    /* touch-action: manipulation; */
    box-shadow: transparent 0 0 0 5px, rgba(18, 18, 18, 0.4) 0 5px 15px;
    cursor: pointer;
    flex: 1 1 auto;
    margin: 0 0 0 8px;
}

.send__button_BLZ:hover {
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.4) 0 3px 9px;
}

.send__button_BLZ:active {
    box-shadow: #ccc 0 0 0 3px, transparent 0 0 0 0;
}

.blozum_button-3 {
    align-items: center;
    border-radius: 15px;
    background: #e1edff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #0e6fff;
    flex: 1 1 auto;
    justify-content: center;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.2) 0 3px 5px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    margin: 0 3px;
}

.blozum_button-3:hover {
    box-shadow: transparent 0 0 0 3px, rgba(36, 36, 36, 0.4) 0 3px 5px;
    font-weight: 700;
}

.property-value {
    margin-top: 5px;
    font-weight: 700;
}

* {
    padding: 0;
    --secondaryGradient: linear-gradient(180deg, #5699fc 0%, #0e6fff 100%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
}

.blozum_chatbox {
    position: absolute;
    right: 10px;
}

.blozum_chatbox__support {
    display: flex;
    flex-direction: column;
    z-index: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background: #fff;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0;
}

.blozum_chatbox--active {
    transform: translateY(-8px);
    z-index: 1234;
    opacity: 1;
}

.blozum_chatbox__button {
    text-align: right;
    position: fixed;
    z-index: 999;
}

/* .send__button {
    padding: 6px;
    border: none
} */

.blozum_chatbox__header {
    position: sticky;
    top: 0;
    height: 20%;
    color: white;
}

.blozum_chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.blozum_messages__item {
    width: fit-content;
}

.blozum_messages__item--visitor {
    margin-right: auto;
    overflow-wrap: break-word;
    max-width: 100%;
}

.blozum_chatbox__footer {
    position: sticky;
    bottom: 0;
    height: 10.5%;
    z-index: 999;
}

.blozum_chatbox__header {
    background: var(--secondaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.blozum_messages__item--operator {
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.2) 0 3px 5px;
    font-size: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 16px;
}

.blozum_messages__item--typing,
.blozum_messages__item--visitor {
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.2) 0 3px 5px;
    font-size: 15px;
    border-top-right-radius: 16px;
    border-top-left-radius: 4px;
}

.visitor_menu_BLZ {
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.2) 0 3px 5px;
    font-size: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.blozum_chatbox__image--header {
    margin-right: 10px;
    z-index: -999;
}

.blozum_chatbox__heading--header {
    font-size: 1.2rem;
    color: #fff;
}

.blozum_chatbox__description--header {
    font-size: 0.9rem;
    color: #000;
}

.blozum_chatbox__messages {
    padding: 0 15px 8px;
}

.blozum_messages__item {
    margin-top: 10px;
    background: #fff;
    color: #000;
    padding: 10px 12px;
    max-width: 70%;
}

.blozum_messages__item--typing,
.blozum_messages__item--visitor {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 16px;
    background: #eee;
}

.blozum_messages__item--operator {
    margin-left: auto;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 16px;
    background: -webkit-linear-gradient(180deg, #5699fc 0%, #0e6fff 100%);
    background: linear-gradient(180deg, #5699fc 0%, #0e6fff 100%);
    color: #fff;
}

.blozum_chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    background: 0 0;
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 20px;
}

.blozum_chatbox__footer input {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 30px;
    text-align: left;
    color: #000;
}

.blozum_chatbox__send--footer {
    color: #fff;
}

.blozum_chatbox__button button {
    padding: 5px;
    background: #fff;
    border-radius: 25px 0 25px 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.blozum_chatbox_button button:hover {
    background-color: #0e6fff;
    color: #fff;
}

.blozum {
    color: #ababab;
    padding-right: 4px;
    padding-bottom: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 8px;
    font-size: var(--font-size);
    line-height: var(--font-size);
    zoom: 1.5;
}

.blozum .link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.blozum .link div {
    overflow: hidden;
}

.blozum .link div:first-child {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-size) 0 var(--text);
}

.blozum .link div:last-child {
    position: absolute;
    pointer-events: none;
    right: 0;
    left: 0;
    bottom: -3px;
    height: 5px;
}

.blozum .link div:last-child svg {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 300%;
    height: 5px;
    fill: none;
    stroke: var(--line);
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-dasharray: 63.5px 128px;
    stroke-dashoffset: var(--line-offset, 190.25px);
    transform: translateX(var(--line-x)) translateZ(0);
    transition: transform var(--line-d, 0s), stroke-dashoffset var(--line-d, 0s);
}

.blozum .link div span {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-style: normal;
    transition: transform var(--duration) ease;
    transform: translateY(var(--m, 0));
}

.blozum .link div span:first-child {
    transition-delay: 50ms;
}

.blozum .link div span:nth-child(2) {
    transition-delay: 0.1s;
}

.blozum .link div span:nth-child(3) {
    transition-delay: 0.15s;
}

.blozum .link div span:nth-child(4) {
    transition-delay: 0.2s;
}

.blozum .link div span:nth-child(5) {
    transition-delay: 0.25s;
}

.blozum .link div span:nth-child(6) {
    transition-delay: 0.3s;
}

.blozum .link div span:nth-child(7) {
    transition-delay: 0.35s;
}

.blozum .link div span:nth-child(8) {
    transition-delay: 0.4s;
}

.blozum .link div span:nth-child(9) {
    transition-delay: 0.45s;
}

.blozum .link div span:nth-child(10) {
    transition-delay: 0.5s;
}

.blozum .link div span:nth-child(11) {
    transition-delay: 0.55s;
}

.blozum .link:hover {
    --m: calc(var(--font-size) * -1);
    --line-d: var(--duration-line);
    --line-x: 65.66%;
    --line-offset: 63.5px;
}

.rounded-svg {
    border-radius: 50%;
}

.blz_s {
    width: 10px;
    height: 10px;
    background-color: #0e6fff;
    opacity: 0.8;
    display: inline-block;
    margin: 1px;
    border-radius: 50%;

    &:nth-child(1) {
        animation: bounce 1s infinite;
    }

    &:nth-child(2) {
        animation: bounce 1s infinite 0.2s;
    }

    &:nth-child(3) {
        animation: bounce 1s infinite 0.4s;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        opacity: 0.4;
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0px);
    }
}

.blozum_chatbox__content--header {
    margin-left: 10px;
}

.home_button_BLZ {
    border-radius: 50%;
    background-color: #0e6fff;
    color: #fff;
    width: calc(3em + 2px);
    height: calc(3em + 2px);
    display: flex;
    /* Flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    border: none;
    /* Remove the default border */
    text-align: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    touch-action: manipulation;
    box-shadow: transparent 0 0 0 5px, rgba(18, 18, 18, 0.4) 0 5px 15px;
    cursor: pointer;
    flex: 1 1 auto;
}

.home_button_BLZ:hover {
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.4) 0 3px 9px;
}

.home_button_BLZ:active {
    box-shadow: #ccc 0 0 0 3px, transparent 0 0 0 0;
}

.visitor_menu_BLZ,
.after_submission_BLZ {
    position: relative;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 16px;
    background: #fff;
    color: #000;
    padding: 10px 12px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    z-index: 1000;
}

.flex-blozum_container {
    display: flex;
    justify-content: space-evenly;
}

input {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 30px;
    text-align: left;
    color: #000;
    margin: 0 0 6px;
}

.blozum_message-reaction {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.blozum_thumb-up,
.blozum_thumb-down {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    border-color: #ccc;
    width: 25px;
    height: 25px;
    border-width: thin;
}

/* Highlight the active (enabled) button */
.blz_active {
    background-color: #0e6fff;
    /* Blue background for active state */
    color: white;
    border-color: #0e6fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-width: thin;
}

.blozum_thumb-down:hover,
.blozum_thumb-up:hover {
    color: #0e6fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.blozum_messages__item--visitor:hover .blozum_message-reaction {
    display: contents;
}

#blz_form_error {
    background-color: #ffcccc;
    /* Light red background */
    color: #cc0000;
    /* Darker red for the text */
    border-radius: 8px;
    /* Curved edges */
    padding: 10px;
    /* Some padding inside the box */
    font-weight: 300;
    /* Thinner font */
    margin-bottom: 10px;
    /* Space below the box */
    display: none;
    /* Hide by default */
    text-align: center;
    /* Center the text */
}

.blz_form_success {
    background-color: #c8e6c9;
    color: #2d862d;
    border-radius: 8px;
    /* Curved edges */
    padding: 10px;
    /* Some padding inside the box */
    font-weight: 300;
    /* Thinner font */
    margin-bottom: 10px;
    /* Space below the box */
    display: block;
    text-align: center;
    /* Center the text */
}